<div class="col-sm-12">
    <div class="col-sm-12 row">
        <span class="col-sm-4 row">Показывать на странице: </span>
        <select id="RowCount" class="form-control col-sm-8"></select>
        <br />
    </div>

    <table class="table-condensed col-sm-12 GenerealTable" id="TblAllCars">
        <tr>
            <td class="col-sm-2"><label>#:</label></td>
            <td class="col-sm-4"><label>Номер:</label></td>
            <td class="col-sm-4"><label>Модель:</label></td>
            <td class="col-sm-2"><label>Цвет:</label></td>
            <td class="col-sm-2"><label>Год выпуска:</label></td>
            <td class="col-sm-2"><label>Статус:</label></td>
            <td class="col-sm-1"></td>
        </tr>
    </table>
</div>

<div>
    <hr />
    <footer class="container body-content">        
        <nav aria-label="...">
            <ul class="pagination liListPages">
                <li class="page-item"><a class="page-link" href="java:void(0)" tabindex="-1" id="refStart">В начало</a></li>
                <li class="page-item"><a class="page-link" href="java:void(0)" id="refPrevious">Назад</a></li>
                <li class="page-item"><a class="page-link" href="java:void(0)" id="refCurrent">1</a></li>
                <li class="page-item"><a class="page-link" href="java:void(0)" id="refNext">Вперед</a></li>
                <li class="page-item"><a class="page-link" href="java:void(0)" id="refFinish">В конец</a></li>
            </ul>
        </nav>
    </footer>
</div>