<div>
    <div class="row col-sm-12">
        <span class="col-sm-3">Номер</span>
        <input id="txtNumberCar" class="form-control col-sm-9" type="text">
    </div>
    <div class="row col-sm-12">
        <span class="col-sm-3">Марка</span>
        <input id="txtModelCar" class="form-control col-sm-9" type="text">
    </div>
    <div class="row col-sm-12">
        <span class="col-sm-3">Цвет</span>
        <input id="txtColorCar" class="form-control col-sm-9" type="text">
    </div>
    <div class="row col-sm-12">
        <span class="col-sm-3">Год выпуска</span>
        <input id="txtYearCar" class="form-control col-sm-9" type="text">
    </div>
    <div class="row col-sm-12">
        <button class="col-sm-3 btn btn-default" id="btnAddCar" onclick="AddCars()">Добавить</button>
        <button class="col-sm-3 btn btn-default" id="btnClear">Очистить</button>
    </div>
</div>